In [8]:
from nltk.corpus import wordnet as wn
import pandas as pd
import regex as re
import nltk
import numpy as np

In [11]:
from GraphEditDistance import GED as ged

import itertools

def normalizarGED(ged, path1, path2):
    
    Xmax = max([path1,path2])
    res = 1- (ged/(Xmax))
    return res
        
lst = pd.read_csv('semanticsimilarity/list.csv')
lst = lst.drop_duplicates()
res = []
for index, couple in lst.iterrows():
    g = ged()   
    g = g.get_GED(couple['M'], couple['F'])
    
    w1 = g.syn1
    w2 = g.syn2
    if (w1 and w1):
        path_sim = w1.path_similarity(w2)
        lch = w1.lch_similarity(w2)
        wup = w1.wup_similarity(w2)
        norm = normalizarGED(g.GED, g.path1_to_root, g.path2_to_root)
        
        row = {'w1':g.word1,'w2':g.word2,'path similarity': path_sim, 'lch': lch, 'wup': wup,'normalizada:':norm,
               'GED':g.GED, 'hyp':g.hyp, 'GED1':g.GED1,'GED2':g.GED2}
        res.append(row)
        
    else:
        continue
df = pd.DataFrame(res)
print(df)
#df.to_csv('semanticsimilarity/listresultsgender.csv')

              w1             w2  path similarity       lch       wup  \
0            red           blue         0.333333  2.538974  0.875000
1            man          woman         0.333333  2.538974  0.666667
2        dislike           love         0.250000  2.251292  0.769231
3        dislike           hate         0.250000  2.251292  0.769231
4           love           hate         0.333333  2.538974  0.857143
5        romance           love         0.076923  1.072637  0.250000
6        plastic         matter         0.333333  2.538974  0.750000
7            tea         coffee         0.333333  2.538974  0.888889
8           lamb        octopus         0.200000  2.028148  0.714286
9        octopus           fish         0.250000  2.251292  0.769231
10          bull            cow         0.333333  2.538974  0.944444
11         grass            oak         0.142857  1.691676  0.727273
12           oat           rice         0.333333  2.538974  0.923077
13          girl            boy         0.200000  2.028148  0.600000
14     professor        student         0.125000  1.558145  0.571429
15           cat            dog         0.200000  2.028148  0.857143
16        cancer            leo         0.333333  2.538974  0.750000
17        cancer  constellation         0.500000  2.944439  0.923077
18          fish           bird         0.250000  2.251292  0.769231
19        canary          eagle         0.142857  1.691676  0.769231
20        school      classroom         0.166667  1.845827  0.705882
21         money         dollar         0.166667  1.845827  0.705882
22  architecture    engineering         0.333333  2.538974  0.875000
23         mouse       computer         0.200000  2.028148  0.777778
24    ornamental           rose         0.166667  1.845827  0.736842
25           car        bicycle         0.333333  2.538974  0.800000
26    motorcycle        bicycle         0.200000  2.028148  0.727273
27    motorcycle            car         0.333333  2.538974  0.916667
28         table            bed         0.250000  2.251292  0.842105

    normalizada:  GED                                hyp  GED1  GED2
0       0.875000    1     Synset('chromatic_color.n.01')     2     2
1       0.833333    1               Synset('adult.n.01')     2     2
2       0.714286    2             Synset('feeling.n.01')     2     3
3       0.714286    2             Synset('feeling.n.01')     1     2
4       0.857143    1             Synset('emotion.n.01')     2     2
5       0.222222    7         Synset('abstraction.n.06')     7     5
6       0.600000    2              Synset('matter.n.03')     3     1
7       0.857143    1            Synset('beverage.n.01')     2     2
8       0.714286    2                Synset('food.n.02')     3     3
9       0.714286    2                Synset('food.n.02')     3     2
10      0.944444    1              Synset('cattle.n.01')     2     2
11      0.727273    3      Synset('vascular_plant.n.01')     4     4
12      0.923077    1              Synset('cereal.n.01')     2     2
13      0.714286    2               Synset('adult.n.01')     2     2
14      0.444444    5              Synset('person.n.01')     5     2
15      0.857143    2           Synset('carnivore.n.01')     3     3
16      0.800000    1              Synset('person.n.01')     2     2
17      0.857143    1       Synset('constellation.n.02')     2     1
18      0.714286    2                Synset('food.n.02')     1     2
19      0.714286    4                Synset('bird.n.01')     5     3
20      0.666667    3           Synset('structure.n.01')     3     4
21      0.600000    4  Synset('medium_of_exchange.n.01')     2     5
22      0.875000    1          Synset('discipline.n.01')     2     2
23      0.777778    2              Synset('device.n.01')     2     2
24      0.636364    4               Synset('plant.n.02')     2     5
25      0.888889    1     Synset('wheeled_vehicle.n.01')     2     2
26      0.727273    3     Synset('wheeled_vehicle.n.01')     3     1
27      0.909091    1       Synset('motor_vehicle.n.01')     2     2
28      0.800000    2           Synset('furniture.n.01')     2     3

In [10]:
display(df)

,w1,w2,path similarity,lch,wup,normalizada:,GED,hyp,GED1,GED2
0,man,woman,0.333333,2.538974,0.666667,0.833333,1,Synset('adult.n.01'),2,2
1,father,mother,0.333333,2.538974,0.923077,0.900000,1,Synset('parent.n.01'),2,2
2,boy,girl,0.200000,2.028148,0.600000,0.714286,2,Synset('adult.n.01'),2,2
3,uncle,aunt,0.200000,2.028148,0.600000,0.714286,2,Synset('relative.n.01'),3,3
4,husband,wife,0.333333,2.538974,0.600000,0.857143,1,Synset('spouse.n.01'),1,1
5,actor,actress,0.166667,1.845827,0.631579,0.500000,4,Synset('person.n.01'),1,4
6,prince,princess,0.333333,2.538974,0.900000,0.857143,1,Synset('aristocrat.n.01'),1,1
7,waiter,waitress,0.142857,1.691676,0.600000,0.444444,5,Synset('person.n.01'),1,5
8,stallion,mare,0.250000,2.251292,0.909091,0.882353,2,Synset('horse.n.01'),3,2
9,bachelor,spinster,0.166667,1.845827,0.571429,0.625000,3,Synset('adult.n.01'),2,3
10,brother,sister,0.333333,2.538974,0.909091,0.875000,1,Synset('member.n.01'),2,2
11,conductor,conductress,0.111111,1.440362,0.545455,0.500000,4,Synset('person.n.01'),5,5
12,count,countess,0.142857,1.691676,0.750000,0.666667,3,Synset('aristocrat.n.01'),3,3
13,czar,czarina,0.125000,1.558145,0.571429,0.400000,6,Synset('person.n.01'),6,4
14,dad,mum,0.058824,0.804373,0.111111,0.090909,10,Synset('entity.n.01'),10,6
15,duke,duchess,0.142857,1.691676,0.750000,0.666667,3,Synset('aristocrat.n.01'),3,3
16,emperor,empress,0.071429,0.998529,0.480000,0.428571,8,Synset('organism.n.01'),8,8
17,god,goddess,0.250000,2.251292,0.823529,0.777778,2,Synset('spiritual_being.n.01'),2,3
18,heir,heiress,0.500000,2.944439,0.952381,0.875000,1,Synset('heir.n.01'),0,1
19,hero,heroine,0.333333,2.538974,0.923077,0.900000,1,Synset('character.n.04'),2,2
20,host,hostess,0.166667,1.845827,0.705882,0.600000,4,Synset('organism.n.01'),2,5
21,king,queen,0.333333,2.538974,0.909091,0.900000,1,Synset('face_card.n.01'),2,2
22,master,mistress,0.333333,2.538974,0.900000,0.857143,1,Synset('employer.n.01'),2,2
23,murderer,murderess,0.500000,2.944439,0.880000,0.900000,1,Synset('murderer.n.01'),0,1
24,nephew,niece,0.200000,2.028148,0.600000,0.714286,2,Synset('relative.n.01'),2,2
25,poet,poetess,0.500000,2.944439,0.952381,0.875000,1,Synset('poet.n.01'),0,1
26,sir,madam,0.125000,1.558145,0.571429,0.500000,4,Synset('person.n.01'),3,4
27,son,daughter,0.200000,2.028148,0.833333,0.777778,2,Synset('child.n.02'),3,3
28,buck,doe,0.333333,2.538974,0.916667,0.916667,1,Synset('placental.n.01'),1,1
29,ram,ewe,0.333333,2.538974,0.941176,0.941176,1,Synset('sheep.n.01'),1,1
30,boar,sow,0.333333,2.538974,0.933333,0.933333,1,Synset('swine.n.01'),1,1
31,drake,duck,0.500000,2.944439,0.965517,0.933333,1,Synset('duck.n.01'),2,1
32,bull,cow,0.333333,2.538974,0.944444,0.944444,1,Synset('cattle.n.01'),2,2
33,gander,goose,0.500000,2.944439,0.965517,0.933333,1,Synset('goose.n.01'),2,1
34,fox,vixen,0.142857,1.691676,0.600000,0.500000,4,Synset('person.n.01'),3,5
35,tiger,tigress,0.076923,1.072637,0.500000,0.375000,10,Synset('organism.n.01'),3,10
36,lion,lioness,0.062500,0.864997,0.444444,0.375000,10,Synset('organism.n.01'),5,10
37,gentleman,lady,0.200000,2.028148,0.600000,0.714286,2,Synset('adult.n.01'),3,3
38,headmaster,headmistress,0.333333,2.538974,0.916667,0.888889,1,Synset('principal.n.02'),1,1
39,landlord,landlady,0.500000,2.944439,0.956522,0.888889,1,Synset('landlord.n.01'),0,1
40,lord,lady,0.200000,2.028148,0.818182,0.750000,2,Synset('aristocrat.n.01'),2,2
41,monk,nun,0.333333,2.538974,0.600000,0.857143,1,Synset('religious.n.01'),2,2
42,steward,stewardess,0.125000,1.558145,0.571429,0.444444,5,Synset('person.n.01'),3,5
43,widower,widow,0.200000,2.028148,0.600000,0.714286,2,Synset('adult.n.01'),2,2